<div class="bg-primary uk-light">
    <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
        <div class="uk-navbar-left">

            <a class="uk-navbar-item uk-logo" href="<%= data.config.base_url %>">
                <%= data.config.site_name %>
            </a>

        </div>

        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                <% data.navigation_links.each do |link| %>
                    <li>
                        <%= link_to link.label, data.config.base_url + link.url %>
                        <% if link.sub %>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <% link.sub.each do |sub_link| %>
                                        <li>
                                            <a href="<%= data.config.base_url + sub_link.url %>"><%= sub_link.label %></a>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        <% end %>
                    </li>
                <% end %>
            </ul>

        </div>
    </nav>
</div>