<div class="bg-primary uk-light">
    <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
        <div class="uk-navbar-left">
            <%= link_to data.config.site_name, '/index.html', class: 'uk-navbar-item uk-logo uk-visible@m' %>
        </div>

        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                <% data.navigation_links.each do |link| %>
                    <li>
                        <%= link_to link.label, link.url %>
                        <% if link.sub %>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <% link.sub.each do |sub_link| %>
                                        <li>
                                            <%= link_to sub_link.label, sub_link.url %>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        <% end %>
                    </li>
                <% end %>
            </ul>

            <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle href="#offcanvas-navbar"></a>

        </div>
    </nav>
</div>

<div id="offcanvas-navbar" uk-offcanvas="overlay: true; mode: push">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <%= link_to data.config.site_name, '/index.html', class: 'uk-navbar-item uk-logo' %>

        <ul class="uk-nav">
            <% data.navigation_links.each do |link| %>
                <li class="uk-parent">
                    <%= link_to link.label, link.url %>
                    <% if link.sub %>
                        <ul class="uk-nav-sub">
                            <% link.sub.each do |sub_link| %>
                                <li>
                                    <%= link_to sub_link.label, sub_link.url %>
                                </li>
                            <% end %>
                        </ul>
                    <% end %>
                </li>
            <% end %>
        </ul>

    </div>
</div>
