<% wrap_layout :core do %>
  <main class="uk-padding-small uk-margin-bottom" role="main">
    <div uk-grid class="uk-grid-small">
        <%= partial "partials/sidebar_nav" %>
        <div class="uk-width-expand" id="main">
            <%= partial "partials/breadcrumbs" %>
            <%= yield %>
            <% if data.config.last_updated %>
                <span class="uk-text-small uk-align-right">
                    Last updated: <i><%= last_update_time(current_page.source_file).strftime('%c') %></i>
                </span>
            <% end %>

        </div>
        <%= partial "partials/sidebar_right_nav" %>
    </div>
  </main>
<% end %>
